<div class="row card m-2 p-3 mt-4">
    <div class="header-section">
        <h1 class="admin-title">Features/ Amenities</h1>
    </div>
    <hr>
    <form [formGroup]="featureForm" (ngSubmit)="featureData()">
        <div class="col-md-12">
            <div class="row" *ngFor="let fields of htmlFieldLabel; index as i">
                <div class="mb-3">
                    <div class="d-flex gap-2 label-toggle">
                        <label class="form-label">{{fields.Title}}</label>
                        <mat-slide-toggle [checked]="checked" (change)="toggleDiv($event, i)"></mat-slide-toggle>
                    </div>
                    <div class="description" formArrayName="Value">
                        <ng-container *ngIf="sectionCheck[i]">
                            <input type="text" class="form-control" formControlName="{{i}}">
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-12 col-12 mb-3">
                    <label class="form-label additional-details">Additional Details</label>
                    <angular-editor formControlName="FeatureAmenitiesAddtionalDetails"
                        [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div class="row justify-content-md-end my-4">
                <div class="col-md-3 col-12">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal"  data-bs-toggle="modal" data-bs-target="#exampleModal">Save</button>
                </div>
            </div>
        </div>
    </form>

</div>


<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Unit Created</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Unit has been updated successfully<br>
                Would you like to add another Unit?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="clickYes()">Yes</button>
            </div>
        </div>
    </div>
</div> -->