h1.section-title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    margin-top: 0.3rem;
}

.label-toggle {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.label-toggle label {
    font-size: 1.4rem;
    margin: 0;
}
.has-sub-menus .label-toggle label {
    font-size: 1.2rem !important;
}

.files-input label {
    font-size: 1rem;
    font-weight: 500;
}
.attach-file{
    display: flex;
    align-items: center;
    gap: .7rem;
}

.attach-file i{
    font-size: 2rem;
    color: #f10000;
}