<div class="row justify-content-md-end mb-4">
  <div class="col-md-2 col-12 p-0">
    <button class="btn btn-primary create-property" data-bs-toggle="modal" data-bs-target="#createNewProperty">Create
      New Property</button>
  </div>
</div>
<div class="row card">
  <div class="col-md-12">
    <app-datatable-list [pageTitle]="'South African Properties'"
      [tableHeaderTitle]="tableHead"
      [dropdownList]="dropdownList"
      [tableBodyData]="propertyList" 
      [totalCount]="totalItem"
      [perPage]="propertyfilter.PerPage" 
      [filterChecked]="true"
      (searchTextGet)="getSearch($event)" 
      (optionSelectGet)="getSelection($event)"
      (pageNo)="pageChange($event)" 
      (clickEdit)="getEditById($event)" 
      (clickView)="getViewById($event, 'view')"
      (clickDelete)="getDelById($event)" 
      (toggleChange)="featureToggle($event)"></app-datatable-list>
  </div>
</div>

<!-- Create Property Modal -->
<div class="modal fade" id="createNewProperty" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">MDA Property Code</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="mdaForm" (ngSubmit)="checkMda()">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Enter Property Code</label>
            <input formControlName="BuildingCode" type="number" class="form-control">
            <div *ngIf="errorMessage" class="form-text text-danger">{{errorMessage}}</div>
          </div>
        </div>
        <div class="modal-footer modal-footer-btn">
          <button #closeButton type="button" class="btn btn-secondary clearbtn" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>