.forgot-password{
    background: #eef2f5;
    padding:5rem;
}

.card{
    padding: 2.5rem;
    border: none;
}

h1.title {
    text-align: center;
    font-size: 1.9rem;
}

.forgot-btn{
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
}

label.form-label{
    font-size: 1.1rem;
    font-weight: bold;
}