<div class="forgot-password">
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <h1 class="title">Forgot Password 🔐</h1>
                    <form [formGroup]="forgotForm" (ngSubmit)="forgotPass()">
                        <div class="my-3">
                            <label class="form-label">Email address</label>
                            <input type="email" formControlName="Email" class="form-control">
                            <div *ngIf="forgotForm.get('Email')?.invalid && forgotForm.get('Email')?.touched" class="form-text text-danger">Please enter valid input</div>
                        </div>
                        <div class="forgot-btn">
                            <button type="submit" class="btn btn-primary">Forgot Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>