<div class="row card">
    <div class="col-md-12">
        <app-datatable-list 
        [pageTitle]="'International Properties'" 
        [tableHeaderTitle]="tableHead"
        [tableBodyData]="propertyList" 
        [totalCount]="totalItem" 
        [perPage]="propertyfilter.PerPage"
        [dropdownList]="dropdownList" 
        [holdingdpList]="holdingDropdown" 
        [completionTypeList]="completionDropdown"
        [type]="'2'" 
        [filterChecked]="true"
        (searchTextGet)="getSearch($event)" 
        (optionSelectGet)="getSelection($event)"
        (toggleChange)="featureToggle($event)" 
        (pageNo)="pageChange($event)"
        (clickEdit)="getEditById($event)"></app-datatable-list>
    </div>
</div>