<div class="card mb-4 bg-light" *ngIf="showSelectedGroup">
    <div class="col-12">
        <div class="row p-3 all-select-group">
            <div class="col-12 mb-2"><span>{{propertyUnitStatus.Units.length}}</span> Units Selected</div>
            <div class="col-md-3 col-12">
                <button type="button" class="btn btn-primary" (click)="makeAvailable()">Make All Available</button>
            </div>
            <div class="col-md-3 col-12">
                <button type="button" class="btn btn-primary" (click)="makeUnAvailable()">Make All UnAvailable</button>
            </div>
            <div class="col-md-3 col-12">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tenantIncentive"
                    class="btn btn-primary">Tenant Incentives</button>
            </div>
            <div class="col-md-3 col-12">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#brokerCommission">Broker Commission Incentives</button>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-end mb-3">
    <div class="col-md-3 col-12">
        <button type="button" class="btn btn-primary" (click)="createUnit()">Create Unit</button>
    </div>
</div>

<div class="p-3 card">

    <div class="col-md-12">
        <app-datatable-list [pageTitle]="'Attributes'"
        [tableHeaderTitle]="tableHead"
        [tableBodyData]="propertyUnitList" 
        [totalCount]="totalItem"
        [perPage]="propertyUnitfilter.PerPage"
        [filterChecked]="false"
        (searchTextGet)="getSearch($event)"
        (pageNo)="pageChange($event)"
        (toggleChange)="featureToggle($event)">
      </app-datatable-list>

    <!-- <div class="col-md-12 mt-4">
        <div class="header-section">
            <h1 class="admin-title">Units Created</h1>
            <div class="d-flex align-items-center gap-3">
                <div class="download-section">
                    <button class="downloadBtn" (click)="exportData()"><i class="bi bi-box-arrow-in-right"></i></button>
                </div>
                <div class="action-section input-group search-section">
                    <form [formGroup]="searchForm" (ngSubmit)="searchList()">
                        <input type="text" formControlName="Search" placeholder="Enter Keyword" class="form-control">
                        <button class="clearbtn" (click)="onClearSearch()" *ngIf="searchClear"><i
                                class="bi bi-x"></i></button>
                        <button type="submit" class="btn btn-outline-secondary search"><i
                                class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="col-md-12">
        <table class="table table-striped properties-table">
            <thead class="mb-3">
                <th style="width: 5%;"><mat-checkbox [checked]="allComplete"
                        (change)="checkAll($event.checked)"></mat-checkbox></th>
                <th>
                    <div class="d-flex align-items-center justify-content-between">
                        Unit Name<div class="sorting-btn-group"><a (click)="ascending('FirstName')"><i
                                    class="bi bi-chevron-up"></i></a> <a (click)="decending('FirstName')"><i
                                    class="bi bi-chevron-down"></i></a></div>
                    </div>
                </th>
                <th>Unit Size(sqm)</th>
                <th>Gross(R/sqm)</th>
                <th>Broker Commission Incentive</th>
                <th>Tenant Incentive</th>
                <th>Avaliability</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr
                    *ngFor="let unitlist of propertyUnitList | paginate: { itemsPerPage: propertyUnitfilter.PerPage, currentPage: PageNo, totalItems: totalItem }">
                    <td><mat-checkbox [checked]="checkedIn"
                            (change)="checkIn($event.checked, unitlist.PropertyUnitId)"></mat-checkbox></td>
                    <td>{{unitlist.NameAndLocation}}</td>
                    <td>{{unitlist.UnitSize}}</td>
                    <td>{{unitlist.GrossRental}}</td>
                    <td>{{unitlist.BrokerIncentives}}</td>
                    <td>{{unitlist.IncentiveStatus}}</td>
                    <td><mat-slide-toggle [checked]="unitlist.UnitStatus === 'Yes' ? checked : false"
                            (change)="toggleStatus($event.checked, unitlist.PropertyUnitId)">{{unitlist.UnitStatus}}</mat-slide-toggle>
                    </td>
                    <td class="dropdown"><i data-bs-toggle="dropdown"
                            class="bi bi-three-dots-vertical dropdown-toggle"></i>
                        <ul class="dropdown-menu">
                            <li><a href="#" (click)="editUnit(unitlist.PropertyUnitId); false"
                                    class="dropdown-item">Edit</a></li>
                            <li><a href="#" class="dropdown-item">View</a></li>
                            <li><a href="#" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#brokerCommission"
                                    (click)="brokerCommisionClick(unitlist.PropertyUnitId); false">Broker Commission
                                    Incentive</a></li>
                            <li><a href="#" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#tenantIncentive"
                                    (click)="brokerCommisionClick(unitlist.PropertyUnitId); false">Tenant Incentive</a>
                            </li>
                            <li><a href="#" class="dropdown-item">Delete</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 pegination">
        <pagination-controls [autoHide]="true" (pageChange)="onPageChange($event)"></pagination-controls>
    </div> -->
</div>

<div class="modal fade" id="brokerCommission" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Broker Commission Incentives</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="incentiveForm" (ngSubmit)="incentiveFormSubmit()">
                    <div class="row">
                        <div class="col-md-12 col-12 mb-3">
                            <label class="form-label">Commission Incentive</label>
                            <ng-select [clearable]="false" (change)="itemSelected($event)"
                                formControlName="BrokerIncentives">
                                <ng-option *ngFor="let listItem of incentiveList;"
                                    [value]="listItem.value">{{listItem.value}}</ng-option>
                            </ng-select>
                        </div>
                        <div class="col-md-12 col-12 mb-3">
                            <label class="form-label">Comment/ Disclaimers (4/700)</label>
                            <textarea class="form-control" formControlName="CommentDisclaimers" id="" cols="30"
                                rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer modal-footer-btn">
                        <button type="button" #closeButton class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="tenantIncentive" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tenant Incentive</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="tenantIncentiveForm" (ngSubmit)="tenantIncentiveFormSubmit()">
                    <div class="row">
                        <div class="col-md-12 col-12 mb-3">
                            <label class="form-label">Commission Incentive</label>
                            <ng-select [clearable]="false" [multiple]="true" (change)="itemSelected($event)"
                                formControlName="Incentives">
                                <ng-option *ngFor="let listItem of incentiveListing;"
                                    [value]="listItem.Id">{{listItem.Title}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="modal-footer modal-footer-btn">
                        <button type="button" #closeButton2 class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>