<div class="row card m-2 p-3 mt-4">
    <div class="header-section">
        <h1 class="admin-title">Incentive Details</h1>
    </div>
    <hr>
    <form class="col-12" [formGroup]="incentiveForm" (ngSubmit)="incentiveFormSubmit()">
        <div class="col-md-12 col-12 mb-3">
            <label class="form-label">Title of Incentive<span class="text-danger mx-2">*</span></label>
            <input type="text" class="form-control" formControlName="Title">
            <div class="text-danger"
                *ngIf="incentiveForm.get('Title')?.invalid && incentiveForm.get('Title')?.touched">
                Please enter Title</div>

        </div>
        <div class="col-md-12 col-12 mb-3">
            <label class="form-label">Additional Information (0/700)</label>
            <textarea class="form-control" id="" cols="30" rows="5" formControlName="AdditionalInformation"></textarea>
        </div>
        <div class="col-md-12 col-12 mb-3">
            <label class="form-label">Add Brochure</label>
            <div class="card media-file-upload p-4">
                <ngx-file-drop  [multiple]="false" dropZoneLabel="Drop Files Here"
                    (onFileDrop)="dropped($event,'Brochure')" (onFileLeave)="fileLeave($event)" accept=".pdf">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <button type="button" (click)="openFileSelector($event)">Drop or Browser Files</button>
                    </ng-template>
                </ngx-file-drop>

                <div class="card mt-4" *ngIf="brochureFileName">
                    <div class="w-100">
                        <div class="file-and-icon">
                            <i class="bi bi-file-earmark-pdf"></i>{{brochureFileName}}
                        </div>
                    </div>
                </div>

                <div class="card mt-4" *ngIf="getDatailList?.BrochureName">
                    <div class="w-100">
                        <div class="file-and-icon">
                            <div class="file">
                                <i class="bi bi-file-earmark-pdf"></i>{{getDatailList.BrochureName}}
                            </div>
                            <a href="" (click)="onDeleteMedia(getDatailList.IncentiveId, 1);false"><i class="bi bi-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12 mb-3">
            <label class="form-label">Terms and Conditions</label>
            <div class="card media-file-upload p-4">
                <ngx-file-drop [multiple]="false" dropZoneLabel="Drop Files Here"
                    (onFileDrop)="dropped($event,'TermAndCondition')" (onFileLeave)="fileLeave($event)" accept=".pdf">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <button type="button" (click)="openFileSelector($event)">Drop or Browser Files</button>
                    </ng-template>
                </ngx-file-drop>

                <div class="card mt-4" *ngIf="termAndConditionFileName">
                    <div class="w-100">
                        <div class="file-and-icon">
                            <i class="bi bi-file-earmark-pdf"></i>{{termAndConditionFileName}}
                        </div>
                    </div>
                </div>

                <div class="card mt-4" *ngIf="getDatailList?.TermAndConditionName">
                    <div class="w-100">
                        <div class="file-and-icon">
                            <div class="file">
                                <i class="bi bi-file-earmark-pdf"></i>{{getDatailList.TermAndConditionName}}
                            </div>
                            <a href="" (click)="onDeleteMedia(getDatailList.IncentiveId, 2);false"><i class="bi bi-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12 mb-3">
            <label class="form-label">Please select visibility<span class="text-danger mx-2">*</span></label>
            <div class="row">
                <div class="col-12">
                    <mat-radio-group formControlName="Visibility" 
                     (change)="valueGet($event)" aria-label="Select an option">
                        <mat-radio-button value="1" [checked]="getDatailList?.Visibility == 1 ? true : false">Full
                            Website</mat-radio-button>
                        <mat-radio-button value="2" [checked]="getDatailList?.Visibility == 2 ? true : false">Broker
                            Portal</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-12">
                    <mat-error *ngIf="incentiveForm.get('Visibility')?.invalid && incentiveForm.get('Visibility')?.touched">Please select visibility</mat-error>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-end my-4">
            <div class="col-md-3 col-12">
                <button type="submit" class="btn btn-primary ng-star-inserted">Save</button>
            </div>
        </div>
    </form>
</div>