<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12 section-1">
                <h1 class="title">Open Designers</h1>
                <p class="desc">Open source is source code that is made freely available for possible modification and
                    redistribution. Products include permission to use the source code, design documents, or content of
                    the product.</p>
            </div>
            <div class="col-md-3 col-12 section-2">
                <h3 class="menu-heading">Explore</h3>
                <ul class="menus">
                    <li><a href="#">Go pro</a></li>
                    <li><a href="#">Explore Designs</a></li>
                    <li><a href="#">Create Designs</a></li>
                    <li><a href="#">Playoffs</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-12 section-3">
                <h3 class="menu-heading">Innovate</h3>
                <ul class="menus">
                    <li><a href="#">Tags</a></li>
                    <li><a href="#">APIs</a></li>
                    <li><a href="#">Places</a></li>
                    <li><a href="#">Creative Markets</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-12 section-4">
                <h3 class="menu-heading">About</h3>
                <ul class="menus">
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Designers</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Terms of service</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>